@import "./util/reset";
@import "./util/mixins";
@import "./util/variables";
* {
	color: $text-color;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.17em;
}
h5 {
	font-size: 0.83em;
}
h6 {
	font-size: 0.75em;
}
body {
	// height: 1000px;
	background-color: rgb(22, 22, 22);
	font-family: arial;
}
button {
	background-color: $primary-color-highlight;
	border: none;
}
.guideList {
	@include setFlex(column);
	margin: {
		top: 2rem;
		left: 2rem;
		right: 2rem;
		bottom: 2rem;
	}
	& > button {
		height: 5rem;
	}
}
.card {
	padding: 1rem;
	border: 0.621rem $primary-color solid;
	border-radius: 4%;
	@include setFlex(row);
	& div {
		& * {
			padding: 1rem;
		}
		& p,
		button {
			width: 100%;
		}
		& img {
			width: 100%;
		}
	}
}
